<a href="https://colab.research.google.com/github/JYP97/DS2_Proj_Jobs_skills_analysis/blob/master/AutomaticOntologyMatching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Loading datasets

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')
import pandas as pd
import numpy as np
import itertools
import spacy

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
# Processing job dataset


job = pd.read_json('/content/drive/MyDrive/DS2/career_builder_jobs_10501.json') # Read US jobs dataset
# job = np.array(job['skills']) # Leave only skills
skills = []
for description in job['skills']:
  skill_list = description.split(', ')
  skills.append(skill_list)
flat_list = list(itertools.chain(*skills))
flat_array = np.array(flat_list)
job_skills = np.unique(flat_array)

In [ ]:
df_dataset = pd.DataFrame(data=job_skills, columns=['skill'])
df_dataset['skill'].replace('', np.nan, inplace=True)
df_dataset.dropna(subset=['skill'], inplace=True)
df_dataset.reset_index(drop=True, inplace=True)

display(df_dataset[0:30])

                                            skill
0    (American Society For Quality) ASQ Certified
1                                  .NET Framework
2                                   24/7 Services
3                                     3D Modeling
4                                     A/B Testing
5                      AC Power Plugs And Sockets
6                  ADO.NET (Programming Language)
7                                            AMAP
8                   AMT Asset Management Software
9                                  ANCC Certified
10                                  ANSYS Meshing
11                                   AP Stylebook
12               ARM Architecture Microprocessors
13                                        ASP.NET
14                          ASP.NET MVC Framework
15  AUTomotive Open System Architecture (AUTOSAR)
16               AWS Command Line Interface (CLI)
17                                     AWS Lambda
18                                          Abbyy
19                           Academic Achievement
20             Acceptance Test-Driven Development
21                             Acceptance Testing
22                            Access Control List
23                                Access Controls
24                                 Access Network
25                                   Accessioning
26                               Account Analysis
27                            Account Development
28                                 Account Growth
29                             Account Management

In [ ]:
# Processing esco dataset


esco = pd.read_csv('/content/drive/MyDrive/DS2/skillsHierarchy_en.csv')
esco = esco[esco['Level 0 preferred term'].isin(['skills'])] # Remove all term of Level 0 which is not 'skills'
esco = esco.drop(['Level 0 URI', 'Level 0 preferred term', 'Level 1 URI', 'Level 2 URI', 'Level 3 URI', 'Description', 'Scope note'], axis=1)
esco_l1 = esco['Level 1 preferred term']
esco_l2 = esco['Level 2 preferred term']
esco_l3 = esco['Level 3 preferred term']
l1_skills = esco_l1.unique()
l2_skills = esco_l2.unique()
l3_skills = esco_l3.unique()
# all_skills = np.concatenate((l1_skills, l2_skills, l3_skills), axis=0)
# esco_skills = np.array(all_skills)
esco_skills = np.array(l3_skills)

In [ ]:
df_esco = pd.DataFrame(data=esco_skills, columns=['skill'])
df_esco['skill'].replace('', np.nan, inplace=True)
df_esco.dropna(subset=['skill'], inplace=True)
df_esco.reset_index(drop=True, inplace=True)

display(df_esco)

                                                 skill
0          communication, collaboration and creativity
1                                          negotiating
2    negotiating and managing contracts and agreements
3                     mediating and resolving disputes
4                             responding to complaints
..                                                 ...
294                   maintaining mechanical equipment
295  installing, maintaining and repairing electric...
296  installing and repairing electrical, electroni...
297  maintaining electrical, electronic and precisi...
298                                 operating aircraft

[299 rows x 1 columns]

# 2. BERT embeddings generation and similarity matching

## 2.1 Load Transformer (BERT)

In [ ]:
!pip install -U sentence-transformers
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('bert-base-nli-mean-tokens')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sentence-transformers in /usr/local/lib/python3.8/dist-packages (2.2.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (4.64.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (1.7.3)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (1.13.0+cu116)
Requirement already satisfied: huggingface-hub>=0.4.0 in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (0.11.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (1.21.6)
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (3.7)
Requirement already satisfied: transformers<5.0.0,>=4.6.0 in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (4.25.1)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (0.1.97)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (1.0.2)
Requirement already satisfied: torchvision in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (0.14.0+cu116)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (4.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (2.23.0)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (21.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (3.8.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (6.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=20.9->huggingface-hub>=0.4.0->sentence-transformers) (3.0.9)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (0.13.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.8/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk->sentence-transformers) (1.2.0)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk->sentence-transformers) (7.1.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2022.12.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->sentence-transformers) (3.1.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.8/dist-packages (from torchvision->sentence-transformers) (7.1.2)

## 2.2 Generate BERT embeddings of ESCO dataset & job dataset

In [ ]:
esco_embeddings = []
for skill in df_esco['skill']:
    esco_embeddings.append(model.encode(skill))
esco_embeddings = np.array(esco_embeddings)

In [ ]:
esco_embeddings.shape

(299, 768)

In [ ]:
job_embeddings = []
for skill in df_dataset['skill']:
    job_embeddings.append(model.encode(skill))
job_embeddings = np.array(job_embeddings)

In [ ]:
job_embeddings.shape

(4712, 768)

## 2.3 Compute cosine similarity

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
for idx, skill in enumerate(df_dataset['skill']):
    matched = np.argmax(cosine_similarity(job_embeddings[idx].reshape(1, 768), esco_embeddings))
    df_dataset.loc[idx, 'Level 3 Ontology'] = df_esco['skill'][matched]

In [ ]:
display(df_dataset.sample(50))

,skill,Level 3 Ontology
4183,Swaption,negotiating
305,Audit Info System (AIS),managing information
2312,Irrigation (Health),developing health programmes
1404,Earned Value Management,determining values of goods or services
2181,Information Governance,managing information
845,Colorimetric Analysis,measuring dimensions and related properties
1546,Environmental Engineering,monitoring environmental conditions
1859,Genomics,developing research plans
1421,Educational Technologies,developing educational programmes
3640,Resource Conservation And Recovery Act (RCRA),developing contingency and emergency response ...
583,Capnography,calculating and estimating
405,Bidding,negotiating
1780,Fortify,protecting and enforcing
3566,Registered Cardiovascular Invasive Specialist,analysing scientific and medical data
2157,Income Tax,analysing financial and economic data
2739,Microsoft Exchange Servers,setting up computer systems
785,Client Server Models,managing information
4409,Transportation Security Administration (TSA),maintaining operational records
1276,Die Casting,constructing
1197,Debits And Credits,executing financial transactions
2917,Numerical Analysis,performing calculations
401,Benefits Realisation Management,determining values of goods or services
2860,Neonatology,constructing
2310,Ionizing Radiation,operating energy production or distribution eq...
163,Analytic Applications,interviewing
2607,Marketing Mix,"promoting, selling and purchasing"
3923,Simple Network Management Protocols,accepting feedback
344,Aviation,operating aircraft
4155,Suitability Analysis,identifying opportunities
28,Account Growth,monitoring financial and economic resources an...
627,Cataloguing,packaging objects
1655,Fast And Secure Protocols,"communication, collaboration and creativity"
4159,Supervisory Control And Data Acquisition (SCADA),managing information
2989,Open Database Connectivity,using digital tools for collaboration and prod...
2632,Mathematical Finance,analysing financial and economic data
458,Branding,presenting information
960,Construction Estimating Software,designing structures or facilities
3835,Security Management,monitoring safety or security
2419,Law Enforcement,protecting and enforcing
4464,Upselling,handling and moving
1621,Extract Transform And Load (ETL),calculating and estimating
1664,Federal Enterprise Architecture,designing ict systems or applications
2619,Master Of Business Administration (MBA),advising on business or operational matters
4291,Telemarketing,operating communications equipment
2859,Neonatal Resuscitation Programs,developing contingency and emergency response ...
4012,Solution Selling,negotiating
117,Air Filters,cleaning
2179,Information Design,managing information
3527,Real Estates,assessing land or real estate
3307,Processing Industry,operating packaging machinery

In [ ]:
display(esco)

,Level 1 preferred term,Level 2 preferred term,Level 3 preferred term
0,NaN,NaN,NaN
1,"communication, collaboration and creativity",NaN,NaN
2,"communication, collaboration and creativity","communication, collaboration and creativity",NaN
3,"communication, collaboration and creativity","communication, collaboration and creativity","communication, collaboration and creativity"
4,"communication, collaboration and creativity",negotiating,NaN
...,...,...,...
378,working with machinery and specialised equipment,"installing, maintaining and repairing electric...","installing, maintaining and repairing electric..."
379,working with machinery and specialised equipment,"installing, maintaining and repairing electric...","installing and repairing electrical, electroni..."
380,working with machinery and specialised equipment,"installing, maintaining and repairing electric...","maintaining electrical, electronic and precisi..."
381,working with machinery and specialised equipment,operating aircraft,NaN
382,working with machinery and specialised equipment,operating aircraft,operating aircraft

In [ ]:
print(esco[esco['Level 3 preferred term'] == 'mediating and resolving disputes'].values.shape)

(1, 3)

In [51]:
for idx, ont in enumerate(df_dataset['Level 3 Ontology']):
    ontology_tree = esco[esco['Level 3 preferred term'] == ont].values
    df_dataset.loc[idx, 'Level 2 Ontology'] = ontology_tree[0, 1]
    df_dataset.loc[idx, 'Level 1 Ontology'] = ontology_tree[0, 0]

In [52]:
df_dataset.groupby(['Level 1 Ontology']).count()

,skill,Level 3 Ontology,Level 2 Ontology
Level 1 Ontology,,,
assisting and caring,258,258,258
"communication, collaboration and creativity",1021,1021,1021
constructing,197,197,197
handling and moving,414,414,414
information skills,1378,1378,1378
management skills,535,535,535
working with computers,409,409,409
working with machinery and specialised equipment,500,500,500

In [55]:
display(df_dataset.sample(20))

,skill,Level 3 Ontology,Level 2 Ontology,Level 1 Ontology
3954,Smoothing,cleaning,cleaning,handling and moving
4236,Target Costing,estimating resource needs,calculating and estimating,information skills
2797,Modems,operating communications equipment,using precision instrumentation and equipment,working with machinery and specialised equipment
1078,Cryptography,resolving computer problems,setting up and protecting computer systems,working with computers
3098,Patient Education,providing medical advice,advising and consulting,"communication, collaboration and creativity"
737,Chemical Ionization,"operating petroleuem, chemical or water proces...",operating machinery for the extraction and pro...,working with machinery and specialised equipment
4412,Traumatic Brain Injury,reporting incidents and defects,documenting and recording information,information skills
2375,Kidneys,operating medical equipment,using precision instrumentation and equipment,working with machinery and specialised equipment
3910,Shopper Marketing,selling products or services,"promoting, selling and purchasing","communication, collaboration and creativity"
938,Conceptual Design,constructing,constructing,constructing
1609,Export,negotiating,negotiating,"communication, collaboration and creativity"
759,Circleci,calculating and estimating,calculating and estimating,information skills
4030,Specflow,calculating and estimating,calculating and estimating,information skills
2198,Infusion Pumps,operating pumping systems or equipment,operating machinery for the extraction and pro...,working with machinery and specialised equipment
1986,Health Insurance,diagnosing health conditions,"conducting studies, investigations and examina...",information skills
1126,Dashboard,driving vehicles,driving vehicles,working with machinery and specialised equipment
933,Computerized Maintenance Management Systems,programming computer systems,programming computer systems,working with computers
3055,Overall Equipment Effectiveness,management skills,management skills,management skills
3272,Pricing Strategies,estimating resource needs,calculating and estimating,information skills
2740,Microsoft Internet Explorer,"using digital tools for collaboration, content...","using digital tools for collaboration, content...",working with computers

In [56]:
df_dataset.to_csv('/content/drive/MyDrive/DS2/job_with_ontology.csv')